#!/bin/bash
                                     # partition_number , extend_size are place holders and supply value to this place holders by main.tf
growpart /dev/nvme0n1 ${partition_number}                     # partition_number is from main.tf
lvextend -r -L +${extend_size}G /dev/RootVG/varVol    # extend_size is from main.tf
xfs_growfs /var   # extending 30GB for /var

yum install -y yum-utils  # we have to give terraform for bastion 
yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
yum -y install terraform

# Because your databases are private, your laptop cannot deploy them. You will have to SSH into the Bastion host, go into that 40-databases -
# - folder, and run terraform apply from inside the Bastion.

# If the Bastion host doesn't have Terraform installed, you won't be able to deploy your databases! That script simply pre-installs the tool -
# - so it is ready for step 40.

# wE are not doing aws configure in bastion, because BASTION HOST has administaror role access from IAM ROLE

# Docker
dnf -y install dnf-plugins-core
dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
dnf install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin -y
systemctl start docker
systemctl enable docker
usermod -aG docker ec2-user

# eksctl
# for ARM systems, set ARCH to: `arm64`, `armv6` or `armv7`
ARCH=amd64
PLATFORM=$(uname -s)_$ARCH

curl -sLO "https://github.com/eksctl-io/eksctl/releases/latest/download/eksctl_$PLATFORM.tar.gz"
tar -xzf eksctl_$PLATFORM.tar.gz -C /tmp && rm eksctl_$PLATFORM.tar.gz
sudo install -m 0755 /tmp/eksctl /usr/local/bin && rm /tmp/eksctl

# kubectl
curl -O https://s3.us-west-2.amazonaws.com/amazon-eks/1.35.3/2026-04-08/bin/linux/amd64/kubectl
chmod +x ./kubectl
cp kubectl /usr/local/bin/kubectl

# kubens (from kubectx project, pure bash version)
curl -sLo /tmp/kubens https://raw.githubusercontent.com/ahmetb/kubectx/master/kubens
install -m 0755 /tmp/kubens /usr/local/bin/kubens && rm /tmp/kubens

# k9s
curl -sLO https://github.com/derailed/k9s/releases/latest/download/k9s_Linux_amd64.tar.gz
tar -xzf k9s_Linux_amd64.tar.gz -C /tmp k9s && rm k9s_Linux_amd64.tar.gz
install -m 0755 /tmp/k9s /usr/local/bin/k9s && rm /tmp/k9s

#Helm
curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4
chmod 700 get_helm.sh
./get_helm.sh